body{
    background-color: #c0c0c0;
}
.panel{
    background-color: #336699;
    border: 1px solid black;
    position:relative;
    width: 50%;
    top:300px;
}
.panel ul li{
    list-style: none;
}
.btn{
    background-color: #ffffff;
    border: 1px solid black;
    color: #000000;
    margin: 10px;
}
.beers-table{
    background-color: #ffffff;
    padding:10px;
    border: 1px solid black;
    position:relative;
    top:250px;
}