body{
    background-color: #ffc857;
}
.container{
    background-color: darkgray;
    margin: 0px auto;
    width: 40%;
    margin-top:70px;
    padding:50px;
}
.list{
    list-style-type: none;
}
.list li {
    margin:10px;
    padding:10px;
    background: #e9724c;
    width: 70px;
}
.list li a{
    color:white;
    text-decoration: none;
}
a{
    text-decoration: none;
}
form{
    display: block;
    border:1px solid black;
    padding:5px;
}
table {
    border: 1px solid black;
}
table tr{
    border: 1px solid black;
}
table td {
    padding: 5px;
    border: 0px solid black;
}

.intro{
    border: 1px solid black;
    margin-top: 100px;
    padding:20px;

}