.container{
    margin: 0px auto;
    width: 40%;
    top:10px;
}
form{
    display: block;
    border:1px solid black;
    padding:5px;
}
table {
    border: 1px solid black;
}
table td {
    border: 1px solid black;
}